[SddmGreeterTheme]
Name=MistyMountains Simplicity
Description=Simple SDDM theme
Type=sddm-theme
Author=Ondrish Jay
Copyright=(c) 2026, Ondrish Jay
Screenshot=Screenshot.png
License=GPL
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=mistymountains-simplicity
Theme-API=2.0
Website=https://github.com/ondrish/misty-mountains-nord-4k

